<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage orders</title>
    <%- include('../header_files')%>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
        body {
            background-color: black;
        }
        .dropdown-toggle:hover{
            background-color: transparent;
            border-color: transparent;
        }
.dr{
color: white;

        }
    </style>
</head>
<body onload="getPendingOrders()">
    <%- include('../navbar')%>
    <div class="container py-5">
        <div class="text-center">
            <h2 class="text-light">
                Pending Orders
            </h2>
        </div>
    </div>
    <div class="table-responsive container">
    <table class="table table-bordered">
        <thead class="text-light">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Order Date</th>
            <th>Address</th>
            <th>Payment Mode</th>
            <th>Payment Status</th>
            <th>Ship Order</th>
        </tr>
        </thead>
        <tbody id="pendingOrder"></tbody>
    </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-dark text-light">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Shipping Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="shippingForm">
                    <input type="hidden" id="oid">
                    <div class="mb-3">
                        <label for="trackID">Company Name</label>
                        <input type="text" id="company"class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="trackID">Tracking ID</label>
                        <input type="text" id="trackID"class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="url">Tracking URL</label>
                        <input type="text" id="url"class="form-control">
                    </div>
                    <div class="mb-3">
                        <button onclick="ShipOrderNow()" type="button" class="btn btn-outline-light  
                        ">Ship Now</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
       
            </div>
          </div>
        </div>
      </div>
    <%- include('../footer_script')%>
    <script>
    
    function ShipOrderNow() {
        var company = document.getElementById("company").value;
        var trackID = document.getElementById("trackID").value;
        var url = document.getElementById("url").value;
        var oid = document.getElementById("oid").value;

        var formData = new FormData();
        formData.append("company", company);
        formData.append("trackID", trackID);
        formData.append("url", url);
        formData.append("oid", oid);

        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                // console.log(this.response);
                if (this.response == "error") {
                    Swal.fire({
                        icon: "error",
                        title: "Internal Server Error asd"
                    });
                } else {
                    Swal.fire({
                        icon: "success",
                        title: "Order Shipped Successfully."
                    });
                    getPendingOrders();
                    document.getElementById("shippingForm").reset();
                }
            }
        }
        http.open("POST", "/admin/ship-order-now", true);
        http.send(formData);
    }
        function showModal(order_id){
    //    console.log(order_id);
            document.getElementById('oid').value=order_id;
            $("#exampleModal").modal("show");

        }
        

        function getPendingOrders(){
            var http=new XMLHttpRequest();
            http.onreadystatechange=function(){
                if (this.readyState==4 && this.status==200){
                    // console.log(this.response);
                    if (this.response=="error"){
                        Swal.fire({
                            icon:"error",
                            title:"Server Error Occured"
                        })
                    }else{
                        var response=JSON.parse(this.response);
                        var table="";
                        if (response.length==0){
                            table = `<tr><th colspan="7" class="text-center"><h2 class="text-danger">No Data Found</h2></th></tr>`;
                            document.getElementById("pendingOrder").innerHTML=table;
                        }else{
                            for(var i=0;i<response.length;i++){
                            for(var i=0;i<response.length;i++){
                            table+=`<tr class='text-light'>`;
                                table+=`<td>${i+1}</td>`;
                                table+=`<td>${response[i].username}</td>`;
                                table+=`<td>${response[i].date_time}</td>`;
                                table+=`<td>${response[i].address} , ${response[i].city} ${response[i].pincode}</td>`;
                                table+=`<td>${response[i].payment_mode}</td>`;
                                table+=`<td>${response[i].payment_status}</td>`;
                                table+=`<td>`;
                                table+=`<button onclick="showModal(${response[i].id})" type="button" class="btn btn-outline-light btn-sm">Ship Order</button>`;
                                table+=`</td>`;
                                table+=`</tr>`;

                        }
                        document.getElementById('pendingOrder').innerHTML=table;
                            }
                        }

                  
                    }
                }
            }
            http.open("GET","/admin/Fetch-Pending-Orders",true);
            http.send();
        }
    </script>
</body>
</html>