
<nav class="navbar navbar-dark navbar-expand-lg  " style="background-color: rgb(80, 0, 165)!important">
    <div class="container-fluid ">
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/admin_home">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/category">Manage Category</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/sub-category">Manage SubCategory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/manage-products">Manage Products</a>
                  </li>
                <!-- <li class="nav-item">
                    <a class="nav-link active" href="/admin/manage-orders">Manage Orders</a>
                  </li> -->
                  <div class="dropdown">
                    <button class="btn btn-dark dropdown-toggle"  style="background-color: rgb(80, 0, 165)!important;border: none!important;" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"
                    >
                      Manage Orders
                    </button>
                    <ul class="dropdown-menu "  style="background-color: rgb(80, 0, 165)!important" aria-labelledby="dropdownMenu2">
                      <li><a class="dropdown-item dr " href="/admin/pending-orders">Pending Orders</a></li>
                      <li><a class="dropdown-item dr " href="/admin/shipped-orders">Shipped Orders</a></li>
                      <li><a class="dropdown-item dr " href="/admin/Delivered_orders">Delivered Orders</a></li>
                    </ul>
                  </div>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin_change_pass">Change Password</a>
                  </li>
                </ul>
             <form class="d-flex">
                    <a class="nav-link active bg-light text-dark rounded p-2 px-3" href="#"  onclick="LogoutAdmin()" >Logout</a>
             </form>
         
            <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-info" type="submit">Search</button>
        </form> -->
        </div>
    </div>
</nav>