<!DOCTYPE html>
<html>
<head>
	<title>About Us Section</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
	<%- include('../header_files')%>
	<link rel="stylesheet" type="text/css" href="../stylesheets/AboutUS.css">
	<link href="../stylesheets/style.css" rel="stylesheet">
	
</head>	
<body>
<div class="back">
  <h5 onclick="history.back()" class="back2"><i class="fa-solid fa-angles-left"></i> Back</h5	>
</div>
	<div class="section">
		<div class="container">

			<div class="content-section">

				<div class="title">
					<h1>About Us</h1>
				</div>
				<div class="content">
					<h3>My Gadget Warehouse</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat.</p>
					<div class="button">
						<a href="Contact-us">Say Hi !</a>
					</div>
				</div>
				<div class="social">
					<a href=""><i class="fab fa-facebook-f"></i></a>
					<a href=""><i class="fab fa-twitter"></i></a>
					<a href=""><i class="fab fa-instagram"></i></a>
				</div>
			</div>
			<div class="image-section medimg">
				<img src="../images/log.png">
			</div>
		</div>
	</div>
	<footer class="text-center text-lg-start text-white">
        <section class="d-flex justify-content-between p-4 foot">
          <div class="me-5">
            <span>Get connected with us </span>
          </div>
          <div>
            <a href="" class="text-white me-4">
              <i class="fab fa-facebook-f"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-google"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="" class="text-white me-4">
              <i class="fab fa-linkedin"></i>
            </a>
          </div>
        </section>

        <section class="">
          <div class="container text-center text-md-start mt-5">
            <div class="row mt-3">
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                <h6 class="text-uppercase fw-bold">My Gadget Warehouse</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #fffffff9; height: 2px" />
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet laborum perspiciatis quos at maiores
                  nostrum vel vitae soluta fugiat harum.
                </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase fw-bold">Links</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #fffffff9; height: 2px" />
                <p>
                  <a href="Index" class="text-white">Home</a>
                </p>
				<p>
					<a href="/Contact-us" class="text-white">Contact Us</a>
				  </p>
				  <p>
					<a href="/About_uss" class="text-white">About us</a>
				  </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                <h6 class="text-uppercase fw-bold">Contact</h6>
                <hr class="mb-4 mt-0 d-inline-block mx-auto"
                  style="width: 60px; background-color: #fffffff9; height: 2px" />
                <p><i class="fas fa-home mr-3"></i> Ranjit Avenue, B-Block,Amritsar,India</p>
                <p><i class="fas fa-envelope mr-3"></i> Mygw9999@gmail.com</p>
                <p><i class="fas fa-phone mr-3"></i> 1234567890</p>
              </div>
            </div>

          </div>
        </section>
        <div class="text-center p-3 copy">
          © 2022 Copyright :
          <a class="text-white" href="Index">My Gadget Warehouse</a>
        </div>
      </footer>
	  <script>
window.onbeforeunload = function () {
    window.scrollTo(0,0);
}
	  </script>
	
</body>
</html>